MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=lead_ledger
PORT=3000
APP_USERNAME=itsruth4
APP_PASSWORD=change-this-password
SESSION_SECRET=change-this-to-a-long-random-value